.wrapperForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  font-family: var(--font-text-secondary);
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 5rem;
margin-bottom: 5rem;
}

.wrapperForm h2{font-family: var(--font-text);font-size: 2.3rem;}

.remove {
  display: none;
}
.inputField {
  height: 2.5rem;
  width: 18rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;


  height: 2.5rem;

  padding: 1rem;
  border-radius: 6px;
  border: none;border-radius: 6px;
  border: none;
  background-color: #E1E444;
  border: 2px solid black;
}

.inputAndCvc {
  display: flex;
  justify-content: space-between;
}

.inputFieldLabel {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;





}

.inputExpiry {
  height: 2.5rem;
  width: 8rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  border: none;border-radius: 6px;

  background-color: #E1E444;
  border: 2px solid black;
}

.inputCvc {
  height: 2.5rem;
  width: 6rem;
  padding: 1rem;
  border-radius: 6px;
  border: none;
  border: none;border-radius: 6px;

  background-color: #E1E444;
  border: 2px solid black;
}

.cardDetailsForm {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.labelDivIcon {
  display: flex;
  justify-content: space-between;
}

.nextButton {
  background: none;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.nextButton:hover {
  background-color:black ;
  border: 2px solid black;
  cursor: pointer;
  color: #E1E444;
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.previousButton {
  background: none;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}
.previousButton:hover {
  background-color: black;
  border: 2px solid black;
  cursor: pointer;
  color: #E1E444;
  width: 9rem;
  padding: 1rem;
  border-radius: 10px;
}

.twoButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 15rem;
}

@media (max-width: 1100px) {
  .twoButtons {
    margin-right: 6rem;
  }
}

@media (max-width: 900px) {
  .twoButtons {
    margin-right: 0;
  }
}

@media (max-width: 600px) {

  .twoButtons {
    margin-right: 0;
    gap: 1rem;
  }


  .wrapperForm {
    gap: 1rem;
    margin-left: -9vw;
    font-size: 0.8rem;
  }
  .wrapperForm h2 {
 font-size: 1.7rem;
  }

  .nextButton {
    border: 1px solid black;

    width: 7rem;
    padding: 0.7rem;
    border-radius: 10px;
  }
  .nextButton:hover {
    width: 7rem;
    padding: 0.7rem;
    border: 1px solid black;
  }

  .previousButton {
    border: 1px solid black;

    width: 7rem;
    padding: 0.7rem;
    border-radius: 10px;
  }
  .previousButton:hover {
    width: 7rem;
    padding: 0.7rem;
    border: 1px solid black;
  }

  .inputField {
    height: 1.5rem;
  }
  .inputExpiry {
    height: 1.5rem;
  }

  .inputCvc {
    height: 1.5rem;
  }
}
