@font-face {
  font-family: 'HeroFont'; /* Choose a name for your font */
  src: local('HeroFont'), url('../../public/fonts/Migha-BlackExpandedCNTR.otf') format('truetype'); /* Replace with the actual font file path */

}

@font-face {
  font-family: 'SmallFont'; /* Choose a name for your font */
  src: local('HeroFont'), url('../../public/fonts/FuturaPTBook.otf') format('truetype'); /* Replace with the actual font file path */
  font-weight: normal;
  font-style: normal;
}



   

.myflex{
  display: flex;
  flex-direction: row;





}

.HeroImage{
  width: 50vw;
  margin-right: 18vw;
}

.HeroText1 {
  font-size: 2.875vw;
  color: rgb(255, 255, 255);

  margin: 7vw 0 0 5vw;
align-items: left;
font-family: 'HeroFont';
font-style: normal;
font-weight: 900;
line-height: normal;
line-height: 9vw;
letter-spacing: 0.275vw;
text-transform: uppercase;}

.HeroSmallText{
  font-size: 2em;
  color: rgb(0, 0, 0);

  margin: -4vw 29vw 0 5vw;
align-items: left;
font-family: 'SmallFont';
}


.Section2{
  background-color: #000000;

}



.ScrollText{
  color: #000;
font-family: 'SmallFont';
font-size: 1.75vw;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.07vw;
margin-top: 2.3vw;
display: flex;
justify-content: center;
align-items: center;

}

.HeroLine{

margin-top: 2vw;
  display: flex;
justify-content: center;
align-items: center;
  
}

.btn0{
  display: flex;
  width: 20.0625vw;
  height: 4.625vw;
  padding: 0vw 1vw 0vw 0.6875vw;

  align-items: center;
  gap: 3.1875vw;
  flex-shrink: 0;
  border: 3px solid #ffffff;
background: rgba(249, 249, 249, 0);
color: #dfdfdf;
font-family: Futura PT;
font-size: 2.125vw;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 2.125vw */


margin: -19vw 0 180px 42vw ;

}
.btn0:hover {
  background-color: #ffffff;
  color: #000000;}

.Section3{
  background-color: #000000;

}

.HeroImage1{
  width: 100%;


}
.HeroImage2{

  width: 100%;
}
.HeroImage3{
  margin-top: 30vw;
  width: 100%;
}


.HeroImage5{

  width: 100%;
}
.HeroImage6{

  width: 100%;

}
.HeroImage7{

  width: 100%;
}
.HeroImage8{

  width: 100%;
}





.btn1 {
  display: flex;
  width: 20.0625vw;
  height: 4.625vw;
  padding: 0vw 1vw 0vw 0.6875vw;
  align-items: center;
  gap: 3.1875vw;
  flex-shrink: 0;
  border: 3px solid #000000;
  background: rgba(198, 140, 62, 0.00);
  color: #000000;
  font-family: Futura PT;
  font-size: 2.125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  /* 2.125vw */
  margin: -26vw 0 26vw 4vw;
  transition: background 0.3s, color 0.3s; /* Adding a smooth transition */

  background-color: #ffffff;
  color: #000000;
}

.btn1:hover {
  background-color: #000000;
  color: #ffffff;}



  .btn5{
    display: flex;
    width: 20.0625vw;
    height: 4.625vw;
    padding: 0vw 1vw 0vw 0.6875vw;
  
    align-items: center;
    gap: 3.1875vw;
    flex-shrink: 0;
    border: 3px solid #000000;
  background: rgba(249, 249, 249, 0);
  color: #000000;
  font-family: Futura PT;
  font-size: 2.125vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 2.125vw */
  
  margin: -10vw 0 40px 40vw ;
  
  }

  .btn5:hover {
    background-color: #CADD57;
    color: #000000;}


    .btn6{
      display: flex;
      width: 20.0625vw;
      height: 4.625vw;
      padding: 0vw 1vw 0vw 0.6875vw;
    
      align-items: center;
      gap: 3.1875vw;
      flex-shrink: 0;
      border: 3px solid #000000;
    background: rgba(249, 249, 249, 0);
    color: #000000;
    font-family: Futura PT;
    font-size: 2.125vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 2.125vw */

    
    margin: -10vw 0 40px 40vw ;
    
    }
  
    .btn6:hover {
      background-color: #F1BC37;
      color: #000000;}



    .btn7{
      display: flex;
      width: 20.0625vw;
      height: 4.625vw;
      padding: 0vw 1vw 0vw 0.6875vw;
    
      align-items: center;
      gap: 3.1875vw;
      flex-shrink: 0;
      border: 3px solid #000000;
    background: rgba(249, 249, 249, 0);
    color: #000000;
    font-family: Futura PT;
    font-size: 2.125vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 2.125vw */

    
    margin: -10vw 0 40px 40vw ;
    
    }
  
    .btn7:hover {
      background-color: #BE5A4B;
      color: #000000;}


    .btn8{
      display: flex;
      width: 20.0625vw;
      height: 4.625vw;
      padding: 0vw 1vw 0vw 0.6875vw;
    
      align-items: center;
      gap: 3.1875vw;
      flex-shrink: 0;
      border: 3px solid #000000;
    background: rgba(249, 249, 249, 0);
    color: #000000;
    font-family: Futura PT;
    font-size: 2.125vw;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 2.125vw */

    
    margin: -10vw 0 40px 40vw ;
    
    }
  
    .btn8:hover {
      background-color: #000000;
      color: #ffffff;}



      @media (max-width: 600px) {
        .btn5, .btn6, .btn7, .btn8{
          display: flex;
          width: 30.0625vw;
          height: 9.625vw;
          padding: 0vw 1vw 0vw 0.6875vw;
        border-radius: 0%;
          align-items: center;
          gap: 3.1875vw;
          flex-shrink: 0;
          border: 2px solid #000000;
        background: rgba(249, 249, 249, 0);
        color: #000000;
        font-family: Futura PT;
        font-size: 4.125vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%; /* 2.125vw */
        
        margin: -16vw 0 40px 36vw ;
        
        }
     
      .Section2{
        margin-bottom: -4vw;
      }

      .btn0{
        margin: -9vw 0 70px 37vw ;
        display: flex;
        width: 30.0625vw;
        height: 9.625vw;
        padding: 0vw 1vw 0vw 0.6875vw;
      
        align-items: center;
        gap: 3.1875vw;
        flex-shrink: 0;
        border: 1px solid #ffffff;
      background: rgba(249, 249, 249, 0);
      color: #ffffff;
      font-family: Futura PT;
      font-size: 4.125vw;
      font-style: normal;
      font-weight: 400;
      line-height: 100%; /* 2.125vw */
      }
      .btn1 {
        display: flex;
        width: 20.0625vw;
        height: 9.625vw;
        padding: 0vw 1vw 0vw 0.6875vw;
      
        align-items: center;
        gap: 3.1875vw;
        flex-shrink: 0;
        border: 1px solid #000000;
        background: rgba(198, 140, 62, 0.00);
        color: #000000;
        font-family: Futura PT;
        font-size: 3.425vw;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        /* 2.125vw */
        margin: -26vw 0 26vw 4vw;
        transition: background 0.3s, color 0.3s; /* Adding a smooth transition */
      
        background-color: #ffffff;
        color: #000000;
      }


      }