@font-face {
  font-family: 'HeroFont'; /* Choose a name for your font */
  src: local('HeroFont'), url('../../public/fonts/Migha-BlackExpandedCNTR.otf') format('truetype'); /* Replace with the actual font file path */

}

@font-face {
  font-family: 'SmallFont'; /* Choose a name for your font */
  src: local('HeroFont'), url('../../public/fonts/FuturaPTBook.otf') format('truetype'); /* Replace with the actual font file path */
  font-weight: normal;
  font-style: normal;
}




.HeroImage{

  margin-left: 25vw;
  font-size: 12.875vw;
  color: #E1E444;

  font-family: 'HeroFont';
font-style: normal;
font-weight: 900;
align-items: center;
line-height: 19vw;

}
.HeroImage1{

  margin-left: 30.3vw;
  font-size: 12.875vw;
  color: #E1E444;

  font-family: 'HeroFont';
font-style: normal;
font-weight: 900;
align-items: center;
line-height: 19vw;

}




.Section1{
  background-color: #000000;



}




.HeroLine{

margin-top: -4vw;
  display: flex;
justify-content: center;
align-items: center;
  
}

.btn5{
  display: flex;
  width: 20.0625vw;
  height: 4.625vw;
  padding: 0vw 1vw 0vw 0.6875vw;

  align-items: center;
  gap: 3.1875vw;
  flex-shrink: 0;

background: #E1E444;
color: #000000;
font-family: Futura PT;
font-size: 2.125vw;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 2.125vw */

margin: 10vw 0 40px 4vw ;

}

.btn5:hover {
  background-color: #000000a5;
  color: #E1E444;
  border: 2px solid #E1E444;
}


.scrolling-link-container {
  white-space: nowrap;
  overflow: hidden;
}

.scrollingLink{
  display: inline-block;
  animation: scrollLeft 12s linear infinite;
  color: #ffffff;

  white-space: nowrap;
  overflow: hidden;
  margin-top: 37vw;
  width: 1400px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.contactus{
  font-family: 'SmallFont';
  color: #E1E444;

  font-size: 2.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 10vw;
width: 1%;
}

.socialmedia {
  font-family: 'SmallFont';
  color: #E1E444;
  font-size: 2.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  margin: -44vw 0 5vw 40vw;
}

.linkArrow {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 1vw; /* Adjust the gap as needed */
}


@media (max-width: 600px) {
  .scrollingLink{
    display: none;

  }



.btn5{

border-radius: 0;
  width: 25.0625vw;
  height: 6.625vw;
  font-size: 4vw;
  margin-top: 10vw;
}
.Section1{
  height: 45vh;
  margin-top: 10vh;
}
.HeroImage{
  margin-top: 4vw;
}
.btnFlex{
  margin-bottom: 5vw;
}
.socialmedia{
  margin-bottom: 40vh;
  font-size: 5vw;
  margin-left: 5vw;
  margin-top: 10vw;
}
}