@tailwind base;
@tailwind components;
@tailwind utilities;











@font-face {
    font-family: 'HeroFont'; /* Choose a name for your font */
    src: local('HeroFont'), url("/../public/fonts/Migha-BlackExpandedCNTR.otf") format('truetype'); /* Replace with the actual font file path */
  
  }
  
  @font-face {
    font-family: 'SmallFont'; /* Choose a name for your font */
    src: local('SmallFont'), url("/../public/fonts/FuturaPTBook.otf") format('truetype'); /* Replace with the actual font file path */
    font-weight: normal;
    font-style: normal;
  }


:root {
  /*Fonts*/
  --font-text: "HeroFont";
  --font-text-secondary: "SmallFont";
  --font-header-teko: "Teko";
  --font-header-azo: azo-sans-web;
  --font-thicc: azo-sans-uber;

  /*Colors*/

  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-accent-hotpink: hotpink;
  --clr-hover: #fef8b8;

  /*For Marquee*/
  --size: clamp(10rem, 1rem + 40vmin, 30rem);
  --gap: calc(var(--size) / 14);
  --duration: 150s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}